/* * { outline: 1px solid red; } */

body {
    width: 100vw;
    height: 10000px;

}

.nos{
    height: 100vh;
    position: relative;
    position: fixed;
}

#myDIV {
    position: absolute;
    top: 15%;
    left: 40%;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
    border-bottom: 692px solid transparent;
    transform-origin: 50% 68%;
    transform: rotate(0deg);
    transition: transform 0.5s;
}

.text {
    position: absolute;
    transition: transform 0.5s;
    width: 750px;
}

#top {
    top: -40px;
    left: -370px;
}

#bottom-left {
    bottom: -720px;
    left: -778px;
}

#bottom-right {
    bottom: -720px;
    right: -785px;
}

.spacer {
    height: 1000px;
}

/* Nosotros */
.nosotrosH {
    font-size: 60px;
    font-weight: semi-bold;
    color: black;
    position: absolute;
    top: 2%;
    left: 20%;
}

.nosotrosHigh {
    font-size: 40px;
    font-weight: semi-bold;
    color: black;
}

.nosotros {
    font-size: 30px;
    font-weight: semi-bold;
    color: black;
}

.up {
    font-size: 20px;
    background-color: #D9D9D9;
    width: 20vw;
    height: 40vh;
    border-radius: 10px;
    color: black;
    margin: 10px;
}

.down {
    font-size: 20px;
    background-color: #D9D9D9;
    width: 100vw;
    height: 2vh;
    border-radius: 10px;
    color: black;
}